@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?68008684');
    src: url('../font/fontello.eot?68008684#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?68008684') format('woff'),
    url('../font/fontello.ttf?68008684') format('truetype'),
    url('../font/fontello.svg?68008684#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68008684#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ok-circled-1:before { content: '\e805'; } /* '' */
.icon-up-circle:before { content: '\e810'; } /* '' */
.icon-minus-circled-1:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e82c'; } /* '' */
.icon-pin:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-resize-full:before { content: '\e814'; } /* '' */
.icon-resize-small:before { content: '\e80b'; } /* '' */
.icon-right-1:before { content: '\e80c'; } /* '' */
.icon-cw-1:before { content: '\e82b'; } /* '' */
.icon-arrows-cw:before { content: '\e81a'; } /* '' */
.icon-exchange:before { content: '\e819'; } /* '' */
.icon-signal:before { content: '\e803'; } /* '' */
.icon-off:before { content: '\e809'; } /* '' */
.icon-credit-card:before { content: '\e81f'; } /* '' */
.icon-gauge:before { content: '\e82a'; } /* '' */
.icon-apple:before { content: '\e81e'; } /* '' */
.icon-check:before { content: '\e824'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-alert:before { content: '\e818'; } /* '' */
.icon-lamp:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e827'; } /* '' */
.icon-plus-squared:before { content: '\e81c'; } /* '' */
.icon-gplus-circled:before { content: '\e829'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-right:before { content: '\e800'; } /* '' */
.icon-left-circle:before { content: '\e815'; } /* '' */
.icon-right-circle:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-mobile-alt:before { content: '\e823'; } /* '' */
.icon-dollar:before { content: '\e81b'; } /* '' */
.icon-money:before { content: '\e82e'; } /* '' */
.icon-user-2:before { content: '\e80e'; } /* '' */
.icon-th-thumb:before { content: '\e811'; } /* '' */
.icon-info-circled:before { content: '\e825'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-mobile:before { content: '\e807'; } /* '' */
.icon-library:before { content: '\e81d'; } /* '' */
.icon-android:before { content: '\e820'; } /* '' */
.icon-win8:before { content: '\e822'; } /* '' */
.icon-phone-circled:before { content: '\e813'; } /* '' */
.icon-desktop:before { content: '\e821'; } /* '' */
.icon-down-circle:before { content: '\e80f'; } /* '' */
.icon-facebook-circled:before { content: '\e828'; } /* '' */