.lt-ie8 .row .row, .lt-ie8 .row2 .row {
  margin: 0 !important; }
.lt-ie8 .row.nogutter, .lt-ie8 .row2.nogutter {
  margin-left: -3% !important;
  margin-right: -3% !important;
  width: 106% !important; }
.lt-ie8 .row .column, .lt-ie8 .row .columns, .lt-ie8 .row2 .column, .lt-ie8 .row2 .columns {
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .lt-ie8 .row .column > input, .lt-ie8 .row .column > div > input, .lt-ie8 .row .columns > input, .lt-ie8 .row .columns > div > input, .lt-ie8 .row2 .column > input, .lt-ie8 .row2 .column > div > input, .lt-ie8 .row2 .columns > input, .lt-ie8 .row2 .columns > div > input {
    line-height: 54px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 5%;
    padding-right: 5%;
    width: 90% !important;
    position: relative;
    left: 0; }
  .lt-ie8 .row .column.small-1, .lt-ie8 .row .columns.small-1, .lt-ie8 .row2 .column.small-1, .lt-ie8 .row2 .columns.small-1 {
    width: 5.08333% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-2, .lt-ie8 .row .columns.small-2, .lt-ie8 .row2 .column.small-2, .lt-ie8 .row2 .columns.small-2 {
    width: 13.16667% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-3, .lt-ie8 .row .columns.small-3, .lt-ie8 .row2 .column.small-3, .lt-ie8 .row2 .columns.small-3 {
    width: 21.25% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-4, .lt-ie8 .row .columns.small-4, .lt-ie8 .row2 .column.small-4, .lt-ie8 .row2 .columns.small-4 {
    width: 29.33333% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-5, .lt-ie8 .row .columns.small-5, .lt-ie8 .row2 .column.small-5, .lt-ie8 .row2 .columns.small-5 {
    width: 37.41667% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-6, .lt-ie8 .row .columns.small-6, .lt-ie8 .row2 .column.small-6, .lt-ie8 .row2 .columns.small-6 {
    width: 45.5% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-7, .lt-ie8 .row .columns.small-7, .lt-ie8 .row2 .column.small-7, .lt-ie8 .row2 .columns.small-7 {
    width: 53.58333% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-8, .lt-ie8 .row .columns.small-8, .lt-ie8 .row2 .column.small-8, .lt-ie8 .row2 .columns.small-8 {
    width: 61.66667% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-9, .lt-ie8 .row .columns.small-9, .lt-ie8 .row2 .column.small-9, .lt-ie8 .row2 .columns.small-9 {
    width: 69.75% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-10, .lt-ie8 .row .columns.small-10, .lt-ie8 .row2 .column.small-10, .lt-ie8 .row2 .columns.small-10 {
    width: 77.83333% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-11, .lt-ie8 .row .columns.small-11, .lt-ie8 .row2 .column.small-11, .lt-ie8 .row2 .columns.small-11 {
    width: 85.91667% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-12, .lt-ie8 .row .columns.small-12, .lt-ie8 .row2 .column.small-12, .lt-ie8 .row2 .columns.small-12 {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 0 !important; }
  .lt-ie8 .row .column.small-1:last-child, .lt-ie8 .row .columns.small-1:last-child, .lt-ie8 .row2 .column.small-1:last-child, .lt-ie8 .row2 .columns.small-1:last-child {
    width: 5.08333% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-2:last-child, .lt-ie8 .row .columns.small-2:last-child, .lt-ie8 .row2 .column.small-2:last-child, .lt-ie8 .row2 .columns.small-2:last-child {
    width: 13.16667% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-3:last-child, .lt-ie8 .row .columns.small-3:last-child, .lt-ie8 .row2 .column.small-3:last-child, .lt-ie8 .row2 .columns.small-3:last-child {
    width: 21.25% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-4:last-child, .lt-ie8 .row .columns.small-4:last-child, .lt-ie8 .row2 .column.small-4:last-child, .lt-ie8 .row2 .columns.small-4:last-child {
    width: 29.33333% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-5:last-child, .lt-ie8 .row .columns.small-5:last-child, .lt-ie8 .row2 .column.small-5:last-child, .lt-ie8 .row2 .columns.small-5:last-child {
    width: 37.41667% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-6:last-child, .lt-ie8 .row .columns.small-6:last-child, .lt-ie8 .row2 .column.small-6:last-child, .lt-ie8 .row2 .columns.small-6:last-child {
    width: 45.5% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-7:last-child, .lt-ie8 .row .columns.small-7:last-child, .lt-ie8 .row2 .column.small-7:last-child, .lt-ie8 .row2 .columns.small-7:last-child {
    width: 53.58333% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-8:last-child, .lt-ie8 .row .columns.small-8:last-child, .lt-ie8 .row2 .column.small-8:last-child, .lt-ie8 .row2 .columns.small-8:last-child {
    width: 61.66667% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-9:last-child, .lt-ie8 .row .columns.small-9:last-child, .lt-ie8 .row2 .column.small-9:last-child, .lt-ie8 .row2 .columns.small-9:last-child {
    width: 69.75% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-10:last-child, .lt-ie8 .row .columns.small-10:last-child, .lt-ie8 .row2 .column.small-10:last-child, .lt-ie8 .row2 .columns.small-10:last-child {
    width: 77.83333% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-11:last-child, .lt-ie8 .row .columns.small-11:last-child, .lt-ie8 .row2 .column.small-11:last-child, .lt-ie8 .row2 .columns.small-11:last-child {
    width: 85.91667% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-12:last-child, .lt-ie8 .row .columns.small-12:last-child, .lt-ie8 .row2 .column.small-12:last-child, .lt-ie8 .row2 .columns.small-12:last-child {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
    float: right !important; }
  .lt-ie8 .row .column.small-offset-1, .lt-ie8 .row .columns.small-offset-1, .lt-ie8 .row2 .column.small-offset-1, .lt-ie8 .row2 .columns.small-offset-1 {
    margin-left: 8.08333% !important; }
  .lt-ie8 .row .column.small-offset-2, .lt-ie8 .row .columns.small-offset-2, .lt-ie8 .row2 .column.small-offset-2, .lt-ie8 .row2 .columns.small-offset-2 {
    margin-left: 16.16667% !important; }
  .lt-ie8 .row .column.small-offset-3, .lt-ie8 .row .columns.small-offset-3, .lt-ie8 .row2 .column.small-offset-3, .lt-ie8 .row2 .columns.small-offset-3 {
    margin-left: 24.25% !important; }
  .lt-ie8 .row .column.small-offset-4, .lt-ie8 .row .columns.small-offset-4, .lt-ie8 .row2 .column.small-offset-4, .lt-ie8 .row2 .columns.small-offset-4 {
    margin-left: 32.33333% !important; }
  .lt-ie8 .row .column.small-offset-5, .lt-ie8 .row .columns.small-offset-5, .lt-ie8 .row2 .column.small-offset-5, .lt-ie8 .row2 .columns.small-offset-5 {
    margin-left: 40.41667% !important; }
  .lt-ie8 .row .column.small-offset-6, .lt-ie8 .row .columns.small-offset-6, .lt-ie8 .row2 .column.small-offset-6, .lt-ie8 .row2 .columns.small-offset-6 {
    margin-left: 48.5% !important; }
  .lt-ie8 .row .column.small-offset-7, .lt-ie8 .row .columns.small-offset-7, .lt-ie8 .row2 .column.small-offset-7, .lt-ie8 .row2 .columns.small-offset-7 {
    margin-left: 56.58333% !important; }
  .lt-ie8 .row .column.small-offset-8, .lt-ie8 .row .columns.small-offset-8, .lt-ie8 .row2 .column.small-offset-8, .lt-ie8 .row2 .columns.small-offset-8 {
    margin-left: 64.66667% !important; }
  .lt-ie8 .row .column.small-offset-9, .lt-ie8 .row .columns.small-offset-9, .lt-ie8 .row2 .column.small-offset-9, .lt-ie8 .row2 .columns.small-offset-9 {
    margin-left: 72.75% !important; }
  .lt-ie8 .row .column.small-offset-10, .lt-ie8 .row .columns.small-offset-10, .lt-ie8 .row2 .column.small-offset-10, .lt-ie8 .row2 .columns.small-offset-10 {
    margin-left: 80.83333% !important; }
  .lt-ie8 .row .column.small-offset-11, .lt-ie8 .row .columns.small-offset-11, .lt-ie8 .row2 .column.small-offset-11, .lt-ie8 .row2 .columns.small-offset-11 {
    margin-left: 88.91667% !important; }
  .lt-ie8 .row .column.small-offset-12, .lt-ie8 .row .columns.small-offset-12, .lt-ie8 .row2 .column.small-offset-12, .lt-ie8 .row2 .columns.small-offset-12 {
    margin-left: 97% !important; }
.lt-ie8 .row.collapse .column.small-1, .lt-ie8 .row.collapse .columns.small-1, .lt-ie8 .row2.collapse .column.small-1, .lt-ie8 .row2.collapse .columns.small-1 {
  width: 8.33333% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-2, .lt-ie8 .row.collapse .columns.small-2, .lt-ie8 .row2.collapse .column.small-2, .lt-ie8 .row2.collapse .columns.small-2 {
  width: 16.66667% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-3, .lt-ie8 .row.collapse .columns.small-3, .lt-ie8 .row2.collapse .column.small-3, .lt-ie8 .row2.collapse .columns.small-3 {
  width: 25% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-4, .lt-ie8 .row.collapse .columns.small-4, .lt-ie8 .row2.collapse .column.small-4, .lt-ie8 .row2.collapse .columns.small-4 {
  width: 33.33333% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-5, .lt-ie8 .row.collapse .columns.small-5, .lt-ie8 .row2.collapse .column.small-5, .lt-ie8 .row2.collapse .columns.small-5 {
  width: 41.66667% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-6, .lt-ie8 .row.collapse .columns.small-6, .lt-ie8 .row2.collapse .column.small-6, .lt-ie8 .row2.collapse .columns.small-6 {
  width: 50% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-7, .lt-ie8 .row.collapse .columns.small-7, .lt-ie8 .row2.collapse .column.small-7, .lt-ie8 .row2.collapse .columns.small-7 {
  width: 58.33333% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-8, .lt-ie8 .row.collapse .columns.small-8, .lt-ie8 .row2.collapse .column.small-8, .lt-ie8 .row2.collapse .columns.small-8 {
  width: 66.66667% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-9, .lt-ie8 .row.collapse .columns.small-9, .lt-ie8 .row2.collapse .column.small-9, .lt-ie8 .row2.collapse .columns.small-9 {
  width: 75% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-10, .lt-ie8 .row.collapse .columns.small-10, .lt-ie8 .row2.collapse .column.small-10, .lt-ie8 .row2.collapse .columns.small-10 {
  width: 83.33333% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-11, .lt-ie8 .row.collapse .columns.small-11, .lt-ie8 .row2.collapse .column.small-11, .lt-ie8 .row2.collapse .columns.small-11 {
  width: 91.66667% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-12, .lt-ie8 .row.collapse .columns.small-12, .lt-ie8 .row2.collapse .column.small-12, .lt-ie8 .row2.collapse .columns.small-12 {
  width: 100% !important;
  margin-left: 0 !important; }
.lt-ie8 .row.collapse .column.small-1:last-child, .lt-ie8 .row.collapse .columns.small-1:last-child, .lt-ie8 .row2.collapse .column.small-1:last-child, .lt-ie8 .row2.collapse .columns.small-1:last-child {
  width: 8.33333% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-2:last-child, .lt-ie8 .row.collapse .columns.small-2:last-child, .lt-ie8 .row2.collapse .column.small-2:last-child, .lt-ie8 .row2.collapse .columns.small-2:last-child {
  width: 16.66667% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-3:last-child, .lt-ie8 .row.collapse .columns.small-3:last-child, .lt-ie8 .row2.collapse .column.small-3:last-child, .lt-ie8 .row2.collapse .columns.small-3:last-child {
  width: 25% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-4:last-child, .lt-ie8 .row.collapse .columns.small-4:last-child, .lt-ie8 .row2.collapse .column.small-4:last-child, .lt-ie8 .row2.collapse .columns.small-4:last-child {
  width: 33.33333% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-5:last-child, .lt-ie8 .row.collapse .columns.small-5:last-child, .lt-ie8 .row2.collapse .column.small-5:last-child, .lt-ie8 .row2.collapse .columns.small-5:last-child {
  width: 41.66667% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-6:last-child, .lt-ie8 .row.collapse .columns.small-6:last-child, .lt-ie8 .row2.collapse .column.small-6:last-child, .lt-ie8 .row2.collapse .columns.small-6:last-child {
  width: 50% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-7:last-child, .lt-ie8 .row.collapse .columns.small-7:last-child, .lt-ie8 .row2.collapse .column.small-7:last-child, .lt-ie8 .row2.collapse .columns.small-7:last-child {
  width: 58.33333% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-8:last-child, .lt-ie8 .row.collapse .columns.small-8:last-child, .lt-ie8 .row2.collapse .column.small-8:last-child, .lt-ie8 .row2.collapse .columns.small-8:last-child {
  width: 66.66667% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-9:last-child, .lt-ie8 .row.collapse .columns.small-9:last-child, .lt-ie8 .row2.collapse .column.small-9:last-child, .lt-ie8 .row2.collapse .columns.small-9:last-child {
  width: 75% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-10:last-child, .lt-ie8 .row.collapse .columns.small-10:last-child, .lt-ie8 .row2.collapse .column.small-10:last-child, .lt-ie8 .row2.collapse .columns.small-10:last-child {
  width: 83.33333% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-11:last-child, .lt-ie8 .row.collapse .columns.small-11:last-child, .lt-ie8 .row2.collapse .column.small-11:last-child, .lt-ie8 .row2.collapse .columns.small-11:last-child {
  width: 91.66667% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-12:last-child, .lt-ie8 .row.collapse .columns.small-12:last-child, .lt-ie8 .row2.collapse .column.small-12:last-child, .lt-ie8 .row2.collapse .columns.small-12:last-child {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: right !important; }
.lt-ie8 .row.collapse .column.small-offset-1, .lt-ie8 .row.collapse .columns.small-offset-1, .lt-ie8 .row2.collapse .column.small-offset-1, .lt-ie8 .row2.collapse .columns.small-offset-1 {
  margin-left: 8.33333% !important; }
.lt-ie8 .row.collapse .column.small-offset-2, .lt-ie8 .row.collapse .columns.small-offset-2, .lt-ie8 .row2.collapse .column.small-offset-2, .lt-ie8 .row2.collapse .columns.small-offset-2 {
  margin-left: 16.66667% !important; }
.lt-ie8 .row.collapse .column.small-offset-3, .lt-ie8 .row.collapse .columns.small-offset-3, .lt-ie8 .row2.collapse .column.small-offset-3, .lt-ie8 .row2.collapse .columns.small-offset-3 {
  margin-left: 25% !important; }
.lt-ie8 .row.collapse .column.small-offset-4, .lt-ie8 .row.collapse .columns.small-offset-4, .lt-ie8 .row2.collapse .column.small-offset-4, .lt-ie8 .row2.collapse .columns.small-offset-4 {
  margin-left: 33.33333% !important; }
.lt-ie8 .row.collapse .column.small-offset-5, .lt-ie8 .row.collapse .columns.small-offset-5, .lt-ie8 .row2.collapse .column.small-offset-5, .lt-ie8 .row2.collapse .columns.small-offset-5 {
  margin-left: 41.66667% !important; }
.lt-ie8 .row.collapse .column.small-offset-6, .lt-ie8 .row.collapse .columns.small-offset-6, .lt-ie8 .row2.collapse .column.small-offset-6, .lt-ie8 .row2.collapse .columns.small-offset-6 {
  margin-left: 50% !important; }
.lt-ie8 .row.collapse .column.small-offset-7, .lt-ie8 .row.collapse .columns.small-offset-7, .lt-ie8 .row2.collapse .column.small-offset-7, .lt-ie8 .row2.collapse .columns.small-offset-7 {
  margin-left: 58.33333% !important; }
.lt-ie8 .row.collapse .column.small-offset-8, .lt-ie8 .row.collapse .columns.small-offset-8, .lt-ie8 .row2.collapse .column.small-offset-8, .lt-ie8 .row2.collapse .columns.small-offset-8 {
  margin-left: 66.66667% !important; }
.lt-ie8 .row.collapse .column.small-offset-9, .lt-ie8 .row.collapse .columns.small-offset-9, .lt-ie8 .row2.collapse .column.small-offset-9, .lt-ie8 .row2.collapse .columns.small-offset-9 {
  margin-left: 75% !important; }
.lt-ie8 .row.collapse .column.small-offset-10, .lt-ie8 .row.collapse .columns.small-offset-10, .lt-ie8 .row2.collapse .column.small-offset-10, .lt-ie8 .row2.collapse .columns.small-offset-10 {
  margin-left: 83.33333% !important; }
.lt-ie8 .row.collapse .column.small-offset-11, .lt-ie8 .row.collapse .columns.small-offset-11, .lt-ie8 .row2.collapse .column.small-offset-11, .lt-ie8 .row2.collapse .columns.small-offset-11 {
  margin-left: 91.66667% !important; }
.lt-ie8 .row.collapse .column.small-offset-12, .lt-ie8 .row.collapse .columns.small-offset-12, .lt-ie8 .row2.collapse .column.small-offset-12, .lt-ie8 .row2.collapse .columns.small-offset-12 {
  margin-left: 100% !important; }

.form-row input {
  line-height: 56px !important; }

.form-row.form-row-slim input {
  line-height: 36px !important; }
