html
{
  height: 100%;
}

body
{
  height: 100%;
}

table.data
{
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}

tr.header td
{
  font: bold 14px Verdana,Helvetica,sans-serif;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 2px;
  background-color: lightGray;
  cursor: pointer;
}

tr.miso:hover
{
  cursor: pointer;
  background-color: #BFF;
}

tr.miso td
{
  font: 12px Verdana,Helvetica,sans-serif;
  text-align: center;
  padding: 2px;
  border-bottom: 1px solid lightGray;
}

div.config
{
  display: none;
  width: 600px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 8px 8px 8px lightGray;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

span.configHeader
{
  display: block;
  background-color: lightGray;
  text-align: center;
  height: 24px;
  font: 16px Verdana,Helvetica,sans-serif;
  border-radius: 8px 8px 0 0;
  border-bottom: solid 1px gray;
}

table.configTable
{
  width: 568px;
  height: 180px;
  margin: 16px;
  border-collapse: collapse;
  font: 12px Verdana,Helvetica,sans-serif;
}

td.configTitle
{
  height: 24px;
  width: 31%;
  text-align: center;
  border: solid 1px lightGray;
}

td.configValue
{
  text-align: left;
  border: solid 1px lightGray;
  padding: 8px;
  line-height: 180%;
}

button.configButton
{
  position: relative;
  top: 24px;
  left: 540px;
  text-align: right;
}

.centered
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#toolbar
{
  position: fixed;
  bottom: 4px;
  right: 8px;
}
.toolbar_icon
{
  float: left;
}
#batch_commands {
  background-color: #FFF;
  border: 1px solid #000;
  float: left;
  padding: 4px;
  display: inline-block;
}

div.details
{
  display: none;
  width: 900px;
  height: auto;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 8px 8px 8px lightGray;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

table.detailsTable
{
  width: 868px;
  height: 320px;
  margin: 16px;
  border-collapse: collapse;
  font: 12px Verdana,Helvetica,sans-serif;
}

button.detailsButton
{
  position: relative;
  top: -8px;
  left: 840px;
  text-align: right;
}

table#makeItSoDetail {
  border-collapse: collapse;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
}

table#makeItSoDetail tr:nth-child(even) {
  background-color: rgba(246, 246, 246, 1);
}

table#makeItSoDetail th, table#makeItSoDetail td {
  padding: 4px;
  text-align: left;
}

div#retry_redo {
  padding: 8px;
}