/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 12px;
	background-color: #9257CA;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*============  Basic Styles  =============*/

#container {
	width: 950px;
	margin: auto;
	background-color: #5B367E;
	border-left: 5px solid black;	
	border-right: 5px solid black;
}

/*============     Header     =============*/

#header {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid black;
}

#header h3 {
	margin: 20px auto 10px;
	width: 100%;
	vertical-align: center;
}

#header img {
	height: 50px;
	width: 130px;
	order: 2;
	margin: auto;
	padding: 15px;
}

h3 {
	font-size: 3em;	
	color: white;
}

/*============  Main Content  ============*/

#tools {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	padding: 50px;
}

#tools h2 {
	font-size: 1.75em;
	text-align: center;
	margin: 25px auto 15px;
}

.sections {
	background-color: #4DCA78;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 30px 0px 0px 0px;
	border: 3px solid #000000;
	flex-grow: 1;
	margin: 20px;
}

