/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 12px;
	background-color: #C0C8CF;
	position: relative;
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}

/*============  Basic Styles  =============*/

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: auto;
	background-color: white;
	min-height: 100%;
	border-left: 4px solid #616569;	
	border-right: 4px solid #616569;
	-webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.75);
}

/*============     Header     =============*/

#header {
	display: flex; /* or inline-flex */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 10px;
	padding-bottom: 0;
	width: 100%;
}

.title {
	background: rgb(30,87,153);
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 1%, rgba(30,87,153,1) 1%, rgba(59,155,229,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 1%,rgba(59,155,229,1) 100%);
	background: linear-gradient(to bottom, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 1%,rgba(59,155,229,1) 100%);\
	flex-grow: 1;
	align-self: center;
	margin: 0;
	width: 100%;
	vertical-align: center;
	color: white;
	line-height: 2.25em;
	font-size: 3em;
	border-bottom: 4px solid #616569;
	text-align: center;
	/* text-shadow: rgb(46, 46, 46) 0px 2px 5px; */
	height: 80px;
}

#header img {
	height: 70px;
	order: 2;
	margin: auto;
	padding: 15px;
	flex-grow: 2;
}

.ultra-img {
	width: 24%;
}



/*============  Main Content  ============*/
#main {
	width: 100%;
	margin: auto;
	padding-bottom: 120px;
	background-color: white;
}


#tools {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	padding: 0 30px 30px;
	background-color: 
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	min-height: 100%;
	margin: auto;
	width: 85%;
	z-index: 999;
}

#tools h2 {
	font-size: 1.75em;
	text-align: center;
	margin: 15px auto 0px;
	width: 100%;
}

.sections {
	background-color: white;
	padding: 5px 10px;
	margin: 10px;
	border: 4px solid #616569;
	width: 25%;

}

.access_heading {
	text-align: center;
	font-size: 1.75em;
	display: block;
	vertical-align: center;
	color: #616569;
	width: 90%;
	position: relative;
	margin: 5px auto 0;
	border-bottom: 2px solid #616569;
}

.access_heading {
	width: 100%;
}

.links {
	color: #616569;
	padding: 15px;
	font-size: 1.4em;
}

.links a {
	display: block;
	line-height: .9em;
}

.links a:link {
	text-decoration: none;
	color: #616569;
	padding: 3px;
}

.links a:visited {
	text-decoration: none;
	color: #616569;
}

.links a:hover {
	/* font-weight: bold; */
	color: white;
	/* background: rgb(30,87,153);
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 1%, rgba(30,87,153,1) 1%, rgba(59,155,229,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 1%,rgba(59,155,229,1) 100%);
	background: linear-gradient(to bottom, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 1%,rgba(59,155,229,1) 100%); */
	background-color: #207cca;
	opacity: 0.7;
	border-radius: 5px;


}

#admin {
/* 	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 30px 0px 0px 0px;
	border: 3px solid #252839; */
	flex-grow: 1;
}

#user {
/* 	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 00px 0px 0px 0px;
	border: 3px solid #252839; */
	flex-grow: 1;
	/* width: 55%; */
}

#employee {
/* 	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 30px 0px 0px;
	border: 3px solid #252839; */
	flex-grow: 1;
}

.help {
	font-size: 1.75em;
	color: #616569;
	text-align: center;
	margin-top: 15px;
}

.help a {
	text-decoration: none;
}

.help a:visited {
	color: #616569;
}

.help a:hover {
	text-decoration: underline;
}


#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b5b5b7;
	width: 70%;
	border-top: 4px solid #616569;
	font-size: 1.2em;
	text-align: center;
	vertical-align: center;
	height: 80px;
	position: fixed;
	bottom: 0;
	/* z-index: -999; */
}

.copyright {
	font-style: italic;
	color: #252839;
	position: bottom;
}

/*-------------------------
	  Media Queries
-------------------------*/	

@media (max-width: 1064px) {
	#tools {
	flex-direction: column;
	}
	
	.sections {
		width: 90%;
	}
	
	#main {
		margin: auto;
	}
	
	.title {
		font-size: 2.25em;
		height: 60px;
	}
	
	.help {
		padding: 0 20px 0;
		font-size: 1.5em;
		margin-top: 5px;
	}
}