body {
	min-width:900px !important;
}
#sidebar_wrapper {
	width:250px !important;	
}
.container-fluid {
	width:860px !important;
	margin:0 auto !important;
}
#hero_wrapper {
	padding-left:0px !important;
	margin-left:20px;
	width:590px !important;
}
.manage-hero .span5 {
	width:229px;
}
.manage-hero .span7 {
	width:310px;
	height:206px;
	float:right;
	margin-left:0px;
	padding-right:0px !important;
}

.manage-hero .span6.left {
	width:269px;
}
.manage-hero .span6.right {
	width:270px;
	height:206px;
	float:right;
	margin-left:0px;
	padding-right:0px !important;
}

.form-horizontal .controls {
	margin-left:0 !important;
}



.right#dsHero1 {
	background:url(../images/dshero1_ie.jpg) no-repeat center center;
}
.right#dsHero2 {
	background:url(../images/dshero2_ie.jpg) no-repeat center top;
}
.right#dsHero3 {
	background:#fff url(../images/dshero3_ie.jpg) no-repeat center center;
}
.right#dsHero4 {
	background:url(../images/dshero4_ie.jpg) no-repeat center center;
}
.right#dsHero5 {
	background:url(../images/dshero2_ie.jpg) no-repeat center top !important;
}
.right#dsHero7 {
	background:url(../images/dshero7_ie.jpg) no-repeat center top;
}